*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.App {
text-align: center;
align-items: center;
 background-image:linear-gradient(to bottom right, cyan, yellow)
/* display: flex; */
}

.App_container{ 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card_add_skill{
  background-color: whitesmoke;
  border: 3px solid black;
  margin: 1%;
  padding: 1%;
  width: 60%;
}

.cool_container{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.en_rojo{
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.main_container{
  background-color: whitesmoke;
  /* display: flex; */
}

.navbar{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3%;
  height: 50px;
  color: whitesmoke ;
  font-style: italic;

}

.navbar2{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
/*   height: 50px;
  */  
  gap: 25px;
  color: whitesmoke;
}

.nav_button{
  background-color: black;
  color: white;
}

.login_register_form{
  background-color: whitesmoke;
  border: 3px solid black;
  margin: 1%;
  padding: 1%;
  width: 60%;
}

.horizontal{
/*   background-color: yellow;
  */  
  padding: 0%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.horizontal_text{
/*   background-color: yellow;
  */  
  text-decoration: underline;
  cursor: pointer;
}

.log_gen{
  background-color: cyan;
}


/* 
Login dev está en la Carpeta Login Register */
.login_dev{
  background-color: yellow;
  
}

.error{
  color: red;
  font-weight: 900;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

